<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webarchive</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Web archive</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webloc</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/text</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Web location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LINK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>css</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/css</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CSS style sheet</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GIF image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIFf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>html</string>
				<string>htm</string>
				<string>shtml</string>
				<string>jhtml</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/html</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>HTML document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>HTML</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>HTML document (no extension)</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>js</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-javascript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JavaScript script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>jpeg</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jp2</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jp2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG 2000 image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>jp2 </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Plain text document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PNG image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rtf</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/rtf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Rich Text Format (RTF) document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RTF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>tif</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TIFF image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>url</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Web site location</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LINK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ico</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-icon</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Windows icon image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ICO </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xhtml</string>
				<string>xhtm</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/xhtml+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XHTML document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XML document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rss</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/rss+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RSS document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rdf</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/rdf+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>RDF document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>TODBrowserDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>FluidInstance</string>
	<key>CFBundleIconFile</key>
	<string>appl</string>
	<key>CFBundleIdentifier</key>
	<string>com.fluidapp.FluidInstance.Grooveshark</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Grooveshark</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.fluidapp.FluidInstance</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
				<string>feed</string>
				<string>mailto</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.9.6</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>TODApplication</string>
	<key>OFRegistrations</key>
	<dict>
		<key>OAPreferenceController</key>
		<dict>
			<key>TODAdvancedPreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict>
					<key>TODAllowBrowsingToOtherDomains</key>
					<false/>
					<key>TODGearsEnabled</key>
					<true/>
					<key>TODMatchURLPatternsAsBlacklistKey</key>
					<false/>
				</dict>
				<key>icon</key>
				<string>NSAdvanced</string>
				<key>nib</key>
				<string>TODAdvancedPreferences</string>
				<key>ordering</key>
				<integer>70</integer>
				<key>shortTitle</key>
				<string>Advanced</string>
				<key>title</key>
				<string>Advanced</string>
			</dict>
			<key>TODAllPlugInPreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict>
					<key>TODNumberOfBrowsaBrowsaPlugIns</key>
					<integer>2</integer>
					<key>TODShowVisiblePlugInsInNewWindows</key>
					<false/>
					<key>TODUberView_splitViewDividerStyle</key>
					<integer>0</integer>
				</dict>
				<key>icon</key>
				<string>plugins</string>
				<key>nib</key>
				<string>TODAllPlugInPreferences</string>
				<key>ordering</key>
				<integer>80</integer>
				<key>shortTitle</key>
				<string>Plug-ins</string>
				<key>title</key>
				<string>Plug-ins</string>
			</dict>
			<key>TODAppearancePreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict>
					<key>TODBrowserAppearanceStyle</key>
					<integer>0</integer>
					<key>TODChromeOpacity</key>
					<real>1</real>
					<key>TODFixedWidthFontFamily</key>
					<string>Courier</string>
					<key>TODFixedWidthFontSize</key>
					<integer>13</integer>
					<key>TODLoadsImagesAutomatically</key>
					<true/>
					<key>TODShowIconsInBookmarkBar</key>
					<true/>
					<key>TODStandardFontFamily</key>
					<string>Times</string>
					<key>TODStandardFontSize</key>
					<integer>16</integer>
					<key>TODWindowLevel</key>
					<integer>2</integer>
					<key>TODWindowOpacity</key>
					<real>1</real>
					<key>TODWindowsHaveShadow</key>
					<true/>
				</dict>
				<key>icon</key>
				<string>appearance</string>
				<key>nib</key>
				<string>TODAppearancePreferences</string>
				<key>ordering</key>
				<integer>20</integer>
				<key>title</key>
				<string>Appearance</string>
			</dict>
			<key>TODBehaviorPreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict>
					<key>TODHideLastClosedWindow</key>
					<false/>
					<key>TODHideWindowsWhenNotActive</key>
					<false/>
					<key>TODNewWindowsOpenWith</key>
					<integer>1</integer>
					<key>TODOpenLinksFromApplicationsInNewTab</key>
					<integer>1</integer>
					<key>TODOpenLinksInDefaultBrowserInBackground</key>
					<false/>
					<key>TODWindowSpacesBehavior</key>
					<integer>0</integer>
					<key>TODWindowsDraggableFromAnywhere</key>
					<false/>
				</dict>
				<key>icon</key>
				<string>BehaviorPrefsIcon</string>
				<key>nib</key>
				<string>TODBehaviorPreferences</string>
				<key>ordering</key>
				<integer>23</integer>
				<key>title</key>
				<string>Behavior</string>
			</dict>
			<key>TODGeneralPreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict>
					<key>TODAllowBrowsingToOtherDomains</key>
					<false/>
					<key>TODDownloadFolder</key>
					<string>~/Downloads</string>
					<key>TODFluidAttemptsToShowDockBadges</key>
					<true/>
					<key>TODSessionsEnabled</key>
					<true/>
				</dict>
				<key>icon</key>
				<string>NSPreferencesGeneral</string>
				<key>nib</key>
				<string>TODGeneralPreferences</string>
				<key>ordering</key>
				<integer>10</integer>
				<key>title</key>
				<string>General</string>
			</dict>
			<key>TODSearchPreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict>
					<key>TODEnhanceGoogleSERPs</key>
					<false/>
				</dict>
				<key>icon</key>
				<string>search</string>
				<key>nib</key>
				<string>TODSearchPreferences</string>
				<key>ordering</key>
				<integer>53</integer>
				<key>shortTitle</key>
				<string>Search</string>
				<key>title</key>
				<string>Search</string>
			</dict>
			<key>TODSecurityPreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict>
					<key>TODArePlugInsEnabled</key>
					<true/>
					<key>TODBlockPopUpWindows</key>
					<true/>
					<key>TODCookieAcceptPolicy</key>
					<integer>0</integer>
					<key>TODIsJavaEnabled</key>
					<true/>
					<key>TODIsJavaScriptEnabled</key>
					<true/>
				</dict>
				<key>icon</key>
				<string>security</string>
				<key>nib</key>
				<string>TODSecurityPreferences</string>
				<key>ordering</key>
				<integer>40</integer>
				<key>title</key>
				<string>Security</string>
			</dict>
			<key>TODShortcutPreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict/>
				<key>icon</key>
				<string>shortcuts</string>
				<key>nib</key>
				<string>TODShortcutPreferences</string>
				<key>ordering</key>
				<integer>50</integer>
				<key>shortTitle</key>
				<string>Shortcuts</string>
				<key>title</key>
				<string>Shortcuts</string>
			</dict>
			<key>TODTabsPreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict>
					<key>TODTabbedBrowsingEnabled</key>
					<false/>
				</dict>
				<key>icon</key>
				<string>TabIcon</string>
				<key>nib</key>
				<string>TODTabsPreferences</string>
				<key>ordering</key>
				<integer>30</integer>
				<key>title</key>
				<string>Tabs</string>
			</dict>
			<key>TODUpdatePreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict>
					<key>SUCheckAtStartup</key>
					<true/>
				</dict>
				<key>icon</key>
				<string>update</string>
				<key>nib</key>
				<string>TODUpdatePreferences</string>
				<key>ordering</key>
				<integer>60</integer>
				<key>shortTitle</key>
				<string>Update</string>
				<key>title</key>
				<string>Software Update</string>
			</dict>
			<key>TODUserstylePreferences</key>
			<dict>
				<key>category</key>
				<string>Application</string>
				<key>defaultsDictionary</key>
				<dict/>
				<key>icon</key>
				<string>script</string>
				<key>nib</key>
				<string>TODUserstylePreferences</string>
				<key>ordering</key>
				<integer>55</integer>
				<key>shortTitle</key>
				<string>Userstyles</string>
				<key>title</key>
				<string>Userstyles</string>
			</dict>
		</dict>
	</dict>
	<key>SUFeedURL</key>
	<string>http://fluidapp.com/appcast/FluidInstance.rss</string>
</dict>
</plist>
